In [1]:
import numpy as np
import pandas as pd

In [3]:
pd.DataFrame({'Apple':[125,122,190],
              'Mango':[111,121,133],
              'Bananas':[121,112,134]})

   Apple  Mango  Bananas
0    125    111      121
1    122    121      112
2    190    133      134

In [5]:
pd.DataFrame({'Apple':[125,122,190],
              'Mango':[111,121,133],
              'Bananas':[121,112,134],},index = [2020,2021,2022])

      Apple  Mango  Bananas
2020    125    111      121
2021    122    121      112
2022    190    133      134

In [7]:
pd.Series([1,3,2,4,1,5])

0    1
1    3
2    2
3    4
4    1
5    5
dtype: int64

In [10]:
pd.Series([1,3,2,4,1,5],index = ['a','b','c','d','e','f'])

a    1
b    3
c    2
d    4
e    1
f    5
dtype: int64

In [11]:
pd.Series([1,3,2,4,1,5],index = ['a','b','c','d','e','f'], name = 'Just a Series')

a    1
b    3
c    2
d    4
e    1
f    5
Name: Just a Series, dtype: int64

In [12]:
quantities= ['4 cups', '1 cup', '2 large', '1 can']
items = ['Flour', 'Milk', 'Eggs', 'Spam']
ingredients = pd.Series(quantities , index= items, name = 'Dinner')

In [13]:
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object